:root {
    --primary-color: hsl(300, 43%, 22%);
    --card-text: hsl(333, 80%, 67%);
    --card-primary-text: hsl(0, 0%, 100%);
    --background-color: hsl(300, 24%, 96%);
    --background-text-color: hsl(303, 10%, 53%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-color: var(--background-color);
}

.app-container {
    padding: 40px 24px;
    width: 100%;
    min-width: 144px;
}

.head-section {
    padding: 4px 0;
}

.product .heading {
    color: var(--primary-color);
    text-align: center;
    font-weight: 700;
    width: 70%;
    margin: auto;
    min-width: 120px;
    font-size: 40px;
}

.product .text {
    color: var(--background-text-color);
    text-align: center;
    line-height: 1.3;
    margin: 20px 0;
    padding: 12px 17x;
}

.rating .customer-rating {
    width: 100%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: hsl(300, 9%, 78%);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.customer-rating .icon-container img {
    height: 16px;
}

.customer-rating p {
    color: var(--primary-color);
    font-weight: 700;
}

.card-section {
    margin-top: 30px;
}

.card {
    width: 100%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    background-color: var(--primary-color);
    color: var(--card-primary-text);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 26px;
}

.card .author-details {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.author-details img {
    border-radius: 50%;
    height: 40px;
}

.author-details .name {
    font-weight: 700;
}

.author-details .verify {
    color: var(--card-text);
    margin-top: 8px;
    font-weight: 500;
}

.card .comment {
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    flex-flow: column wrap;
}


@media screen and (min-width: 700px) {
    .app-container {
        padding: 50px 24px;
        width: 80%;
        margin: auto;
    }

    .head-section {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-right: 70px;

    }

    .head-section .product {
        width: 45%;
        padding: 5px;
    }

    .product .heading {
        margin: 0 0 20px;
        width: 60%;

    }

    .product .heading,
    .product .text {
        text-align: left;
    }

    .product .text {
        color: var(--background-text-color);
        margin: 0;
        width: 80%;
    }

    .rating {
        width: 35%;
    }

    .rating .customer-rating {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;
        padding: 15px;
        border-radius: 5px;
    }

    .customer-rating:nth-child(2) {
        margin-left: 35px;
    }

    .customer-rating:nth-child(3) {
        margin-left: 70px;
    }

    .rating .customer-rating img {
        height: 12px;
    }

    .card-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .card {
        margin: auto;
        width: calc(33.4% - 20px);
        max-width: 345px;
        padding: 18px;
        font-size: 15px;
        line-height: normal;
    }

}